.index-header {
    display: inline-block;
    border-bottom: 1px solid;
    
}

.post-title, .index-header {
    font-family: 'Roboto', sans-serif;
}
.post-counter, .post-summary {
    font-family: 'Open Sans', sans-serif;
}
h3 {
    margin-bottom: .4rem;
}

.post {
    margin-bottom: .8rem;
}

